Repository DataDog/dd-trace-go, pull requests merged in 2022-11, with the labels that each got.

#1498 ci/release-start: create the release notes draft starting from the previous version
  .github/workflows/release-start.yml
Labels: ci

#1583 appsec/waf: fix memory release condition
  internal/appsec/waf/waf.go
Labels: bug, appsec

#1565 internal/appsec: handle remote config ASM_DATA product
  go.mod
  go.sum
  internal/appsec/appsec.go
  internal/appsec/remoteconfig.go
  internal/appsec/remoteconfig_test.go
  internal/appsec/waf.go
  internal/appsec/waf/waf.go
  internal/appsec/waf/waf_disabled.go
  internal/appsec/waf/waf_test.go
Labels: appsec
