Repository DataDog/dd-trace-go, pull requests merged in 2023-03, with the labels that each got.

#1716 contrib/net/http: errCheck function
  contrib/net/http/option.go
  contrib/net/http/roundtripper.go
  contrib/net/http/roundtripper_test.go
Labels: apm:ecosystem

#1796 httpsec: handle client ip with multiple http headers
  contrib/google.golang.org/grpc/appsec.go
  contrib/internal/httptrace/httptrace.go
  internal/appsec/dyngo/instrumentation/grpcsec/tags_test.go
  internal/appsec/dyngo/instrumentation/httpsec/http.go
  internal/appsec/dyngo/instrumentation/httpsec/tags.go
  internal/appsec/dyngo/instrumentation/httpsec/tags_test.go
Labels: appsec, tracer

#1848 httpsec/client-ip: stop walking the headers as soon as a global ip is found
  internal/appsec/dyngo/instrumentation/httpsec/tags.go
  internal/appsec/dyngo/instrumentation/httpsec/tags_test.go
Labels: bug, appsec
