Repository DataDog/dd-trace-go, pull requests merged in 2023-01, with the labels that each got.

#1668 contrib/google.golang.org/grpc: fix flaky test
  contrib/google.golang.org/grpc/stats_server_test.go
Labels: tracer, flaky-test

#1673 contrib/bradfitz/gomemcache/memcache: bump client TO in tests
  contrib/bradfitz/gomemcache/memcache/memcache_test.go
Labels: flaky-test

#1648 appsec: add user login and custom events tracking api
  appsec/appsec.go
  appsec/appsec_test.go
  ddtrace/mocktracer/mockspan.go
  ddtrace/tracer/span.go
  ddtrace/tracer/span_test.go
  ddtrace/tracer/tracer.go
Labels: appsec, tracer

#1683 internal/appsec: update security rules to v1.4.3
  internal/appsec/rules.go
  internal/appsec/rules.json
Labels: appsec

#1670 ddtrace/opentelemetry: adds support for OTel API
  ddtrace/opentelemetry/options.go
  ddtrace/opentelemetry/span.go
  ddtrace/opentelemetry/span_test.go
  ddtrace/opentelemetry/tracer.go
  ddtrace/opentelemetry/tracer_provider.go
  ddtrace/opentelemetry/tracer_test.go
  ddtrace/tracer/tracer.go
  go.mod
  go.sum
Labels: do-not-merge/WIP

#1698 contrib/gin-gonic/gin/example: middleware must be registered before registering routes
  contrib/gin-gonic/gin/example_test.go
Labels: docs

#1702 ddtrace/tracer: add usr.id even with propagation
  ddtrace/tracer/span.go
  ddtrace/tracer/tracer_test.go
Labels: tracer
