Repository DataDog/dd-trace-go, changes with the owners that CODEOWNERS names for each.
All owners: @DataDog/apm-go, @DataDog/tracing-go, @DataDog/profiling-go, @DataDog/asm-go, @Datadog/data-streams-monitoring, @DataDog/apm-core-reliability-and-performance

units
  .github/workflows/test-apps.cue
  .github/workflows/test-apps.yml
Owners: @DataDog/apm-go

better env var logging
  internal/apps/scenario_test.go
Owners: @DataDog/apm-go

fix scenario name
  .github/workflows/test-apps.cue
  .github/workflows/test-apps.yml
Owners: @DataDog/apm-go

only one scenario
  .github/workflows/test-apps.cue
Owners: @DataDog/apm-go

only one scenario
  .github/workflows/test-apps.cue
  internal/apps/run-scenario.bash
Owners: @DataDog/apm-go

explicit env
  internal/apps/scenario_test.go
Owners: @DataDog/apm-go

escape magic
  internal/apps/run-scenario.bash
Owners: @DataDog/apm-go

nits
  .github/workflows/test-apps.cue
  .github/workflows/test-apps.yml
  internal/apps/apps.go
  internal/apps/go.mod
  internal/apps/memory-leak/main.go
  internal/apps/scenario_test.go
  internal/apps/unit-of-work/main.go
Owners: @DataDog/apm-go

fix service name
  internal/apps/apps.go
  internal/apps/memory-leak/main.go
  internal/apps/unit-of-work/main.go
Owners: @DataDog/apm-go

fix env bug
  internal/apps/scenario_test.go
Owners: @DataDog/apm-go

internal/version: update to v1.60.0-dev (#2419)
  internal/version/version.go
Owners: @DataDog/apm-go

disable on pr, setup nightly cron
  .github/workflows/test-apps-nightly.yml
  .github/workflows/test-apps.cue
  .github/workflows/test-apps.yml
Owners: @DataDog/apm-go

workflow name
  .github/workflows/test-apps-nightly.yml
Owners: @DataDog/apm-go

schedule
  .github/workflows/test-apps-nightly.yml
  .github/workflows/test-apps-schedule.yml
  .github/workflows/test-apps.cue
Owners: @DataDog/apm-go

fix read entityid path and add unit testy
  internal/container.go
  internal/container_test.go
Owners: @DataDog/apm-go

phony all target
  .github/workflows/Makefile
  .github/workflows/test-apps-schedule.yml
  .github/workflows/test-apps.cue
  internal/apps/README.md
  internal/apps/scenario_test.go
Owners: @DataDog/apm-go

updated regex for logs
  ddtrace/tracer/log_test.go
Owners: @DataDog/tracing-go

internal/apps: Refactor and add memory-leak app (#2420)
  .github/workflows/Makefile
  .github/workflows/test-apps-schedule.yml
  .github/workflows/test-apps.cue
  .github/workflows/test-apps.yml
  internal/apps/Dockerfile
  internal/apps/README.md
  internal/apps/apps.go
  internal/apps/docker-compose.yml
  internal/apps/go.mod
  internal/apps/go.sum
  internal/apps/memory-leak/main.go
  internal/apps/run-scenario.bash
  internal/apps/scenario_test.go
  internal/apps/unit-of-work/Dockerfile
  internal/apps/unit-of-work/README.md
  internal/apps/unit-of-work/main.go
  internal/apps/unit-of-work/main_test.go
  internal/apps/unit-of-work/run.bash
Owners: @DataDog/apm-go

internal/apps: make ref in workflow optional
  .github/workflows/test-apps.cue
  .github/workflows/test-apps.yml
Owners: @DataDog/apm-go

internal/apps: make ref in workflow optional (#2421)
  .github/workflows/test-apps.cue
  .github/workflows/test-apps.yml
Owners: @DataDog/apm-go

internal/apps: fix argument types
  .github/workflows/test-apps.cue
  .github/workflows/test-apps.yml
Owners: @DataDog/apm-go

internal/apps: fix argument types (#2422)
  .github/workflows/test-apps.cue
  .github/workflows/test-apps.yml
Owners: @DataDog/apm-go

add nil check
  contrib/google.golang.org/grpc/client.go
Owners: @DataDog/tracing-go

replaced match-all empty regex with nil
  ddtrace/tracer/log_test.go
  ddtrace/tracer/rules_sampler.go
  ddtrace/tracer/sampler_test.go
Owners: @DataDog/tracing-go

fixed log and replaced fmt.Sprintf with .String method
  ddtrace/tracer/log_test.go
  ddtrace/tracer/rules_sampler.go
Owners: @DataDog/tracing-go

CI: Only mark PRs as stale
  .github/workflows/stale.yml
Owners: @DataDog/apm-go

fixed log
  ddtrace/tracer/log_test.go
Owners: @DataDog/tracing-go

contrib/google.golang.org/grpc: add hostname tag (#2361)
  contrib/google.golang.org/grpc/client.go
  contrib/google.golang.org/grpc/grpc_test.go
Owners: @DataDog/tracing-go

go.mod: appsec-internal-go v1.2.0
  go.mod
  go.sum
Owners: @DataDog/apm-go

internal/appsec: use internal configuration
  internal/apps/go.mod
  internal/apps/go.sum
  internal/appsec/appsec.go
  internal/appsec/config.go
  internal/appsec/config_test.go
  internal/appsec/remoteconfig.go
  internal/appsec/remoteconfig_test.go
Owners: @DataDog/apm-go, @DataDog/asm-go

internal/appsec: simplify WAF addresses handling
  internal/appsec/listener/httpsec/http.go
  internal/appsec/waf_unit_test.go
Owners: @DataDog/asm-go

Apply suggestions from code review
  internal/appsec/listener/sharedsec/shared.go
Owners: @DataDog/asm-go

internal/appsec: extract API Sec schemas from http requests
  internal/appsec/listener/httpsec/http.go
  internal/appsec/listener/sharedsec/shared.go
  internal/appsec/rules_manager.go
  internal/appsec/waf.go
Owners: @DataDog/asm-go

internal/appsec: add api security test
  internal/appsec/waf_test.go
Owners: @DataDog/asm-go

internal/appsec: add SDK body schema test
  internal/appsec/waf_test.go
Owners: @DataDog/asm-go

internal/appsec: add waf unit test for schema collection
  internal/appsec/waf_unit_test.go
Owners: @DataDog/asm-go

ci: run appsec API security system-tests scenario
  .github/workflows/system-tests.yml
Owners: @DataDog/apm-go

internal/appsec: serialize API Sec schemas
  internal/appsec/listener/httpsec/http.go
  internal/appsec/listener/sharedsec/shared.go
  internal/appsec/waf_test.go
Owners: @DataDog/asm-go

internal/appsec: force appsec enabled for API Sec test
  internal/appsec/waf_test.go
Owners: @DataDog/asm-go

go.mod: appsec-internal-go@v1.4.0
  go.mod
  go.sum
  internal/apps/go.mod
  internal/apps/go.sum
  internal/appsec/remoteconfig.go
  internal/appsec/remoteconfig_test.go
Owners: @DataDog/apm-go, @DataDog/asm-go

CODEOWNERS:

# Note: Later matches take precedence

# default owner
*                               @DataDog/apm-go

# tracing
/contrib                        @DataDog/tracing-go
/ddtrace                        @DataDog/tracing-go

# profiling
/profiler                       @DataDog/profiling-go
/internal/traceprof             @DataDog/profiling-go

# appsec
/appsec                         @DataDog/asm-go
/internal/appsec                @DataDog/asm-go
/contrib/**/*appsec*.go         @DataDog/asm-go
/.github/workflows/appsec.yml   @DataDog/asm-go

# datastreams
/datastreams                    @Datadog/data-streams-monitoring
/internal/datastreams           @Datadog/data-streams-monitoring

# telemetry
/internal/telemetry             @DataDog/apm-go

# linter rules
.golangci.yml                   @DataDog/tracing-go @DataDog/profiling-go @DataDog/asm-go

# Gitlab configuration
.gitlab-ci.yml                  @DataDog/apm-go @DataDog/apm-core-reliability-and-performance
/.gitlab-ci                     @DataDog/apm-go @DataDog/apm-core-reliability-and-performance
