Repository DataDog/dd-trace-go, changes with the owners that CODEOWNERS names for each.
All owners: @DataDog/dd-trace-go-guild, @DataDog/apm-go, @Datadog/apm-idm-go, @DataDog/profiling-go, @DataDog/asm-go, @Datadog/data-streams-monitoring, @DataDog/apm-core-reliability-and-performance

Fix typo on package name
  contrib/jackc/pgx.v5/option.go
Owners: @DataDog/apm-go, @Datadog/apm-idm-go

move to google.golang.org/protobuf
  internal/apps/go.mod
  internal/apps/go.sum
  internal/datastreams/processor.go
  internal/datastreams/processor_test.go
Owners: @Datadog/data-streams-monitoring

Update log statement prefixes
  contrib/jackc/pgx.v5/metrics.go
  contrib/jackc/pgx.v5/option.go
Owners: @DataDog/apm-go, @Datadog/apm-idm-go

Do not publish metrics if statsd client is not set
  contrib/jackc/pgx.v5/metrics.go
  contrib/jackc/pgx.v5/pgxpool.go
Owners: @DataDog/apm-go, @Datadog/apm-idm-go

contrib/99designs/gqlgen: add WithSkipFieldsWithoutMethods option
  contrib/99designs/gqlgen/option.go
  contrib/99designs/gqlgen/tracer.go
Owners: @DataDog/apm-go, @Datadog/apm-idm-go

contrib/99designs/gqlgen: add WithSkipFieldsForIntrospectionQuery option
  contrib/99designs/gqlgen/option.go
  contrib/99designs/gqlgen/tracer.go
Owners: @DataDog/apm-go, @Datadog/apm-idm-go

contrib/99designs/gqlgen: DRY usage of "trivial" for field resolvers
  contrib/99designs/gqlgen/option.go
  contrib/99designs/gqlgen/tracer.go
Owners: @DataDog/apm-go, @Datadog/apm-idm-go

contrib/database/sql: allow peer.service to be set explicitly and add into propagated context
  contrib/database/sql/conn.go
  contrib/database/sql/propagation_test.go
  ddtrace/tracer/sqlcomment.go
  ddtrace/tracer/sqlcomment_test.go
Owners: @DataDog/apm-go, @Datadog/apm-idm-go

internal/version: v1.64.0
  internal/version/version.go
Owners: @DataDog/dd-trace-go-guild

contrib/99designs/gqlgen: add test cases for WithSkipFieldsForIntrospectionQuery
  contrib/99designs/gqlgen/tracer_test.go
Owners: @DataDog/apm-go, @Datadog/apm-idm-go

Move to google.golang.org/protobuf (#2694)
  internal/apps/go.mod
  internal/apps/go.sum
  internal/datastreams/processor.go
  internal/datastreams/processor_test.go
Owners: @Datadog/data-streams-monitoring

contrib/99designs/gqlgen: add test cases for WithSkipFieldsWithTrivialResolver
  contrib/99designs/gqlgen/tracer_test.go
Owners: @DataDog/apm-go, @Datadog/apm-idm-go

contrib/99designs/gqlgen: cleanup WithSkipFieldsWithTrivialResolver test case
  contrib/99designs/gqlgen/tracer_test.go
Owners: @DataDog/apm-go, @Datadog/apm-idm-go

w3c: ensure _dd.parent_id is set using x-datadog-parent-id
  ddtrace/tracer/textmap.go
Owners: @DataDog/apm-go

add simple regression test
  ddtrace/tracer/textmap_test.go
Owners: @DataDog/apm-go

write seperate test for tracecontext precedence
  ddtrace/tracer/textmap.go
  ddtrace/tracer/textmap_test.go
Owners: @DataDog/apm-go

fix tests
  ddtrace/tracer/textmap.go
  ddtrace/tracer/textmap_test.go
Owners: @DataDog/apm-go

tools/v2check: add WithFunctionName & write down pending checks
  tools/v2check/main.go
  tools/v2check/v2check/probe.go
Owners: @DataDog/dd-trace-go-guild

tools/v2check: implement migration tool with all the required changes (#2656)
  .gitignore
  go.work.sum
  tools/v2check/_stage/ddtrace_simple.go
  tools/v2check/_stage/ddtracetypes/ddtracetypes.go
  tools/v2check/_stage/ddtracetypes/ddtracetypes.go.golden
  tools/v2check/_stage/go.mod
  tools/v2check/_stage/go.sum
  tools/v2check/_stage/tracerstructs/tracerstructs.go
  tools/v2check/_stage/tracerstructs/tracerstructs.go.golden
  tools/v2check/_stage/v1importurl/v1importurl.go
  tools/v2check/_stage/v1importurl/v1importurl.go.golden
  tools/v2check/_stage/v1usage/v1usage.go
  tools/v2check/go.mod
  tools/v2check/go.sum
  tools/v2check/known_change.go
  tools/v2check/main.go
  tools/v2check/v2check.go
  tools/v2check/v2check/known_change.go
  tools/v2check/v2check/probe.go
  tools/v2check/v2check/v2check.go
  tools/v2check/v2check/v2check_test.go
  tools/v2check/v2check_test.go
Owners: @DataDog/dd-trace-go-guild

CODEOWNERS:

# Note: Later matches take precedence

# default owner
*                               @DataDog/dd-trace-go-guild

# no owner: changes to these files will not automatically ping any particular
# team and can be reviewed by anybody with the appropriate permissions. This is
# meant to avoid pinging all of @DataDog/dd-trace-go-guild for every PR that
# changes one of these files.
go.mod
go.sum

# tracing
/contrib                        @DataDog/apm-go @Datadog/apm-idm-go
/ddtrace                        @DataDog/apm-go

# profiling
/profiler                       @DataDog/profiling-go
/internal/traceprof             @DataDog/profiling-go

# appsec
/appsec                         @DataDog/asm-go
/internal/appsec                @DataDog/asm-go
/contrib/**/*appsec*.go         @DataDog/asm-go
/.github/workflows/appsec.yml   @DataDog/asm-go

# datastreams
/datastreams                    @Datadog/data-streams-monitoring
/internal/datastreams           @Datadog/data-streams-monitoring

# Gitlab configuration
.gitlab-ci.yml                  @DataDog/dd-trace-go-guild @DataDog/apm-core-reliability-and-performance
/.gitlab-ci                     @DataDog/dd-trace-go-guild @DataDog/apm-core-reliability-and-performance
