Repository DataDog/dd-trace-go, changes with the owners that CODEOWNERS names for each.
All owners: @DataDog/apm-go, @DataDog/tracing-go, @DataDog/profiling-go, @DataDog/asm-go, @Datadog/data-streams-monitoring, @DataDog/apm-core-reliability-and-performance

CODEOWNERS:

# Note: Later matches take precedence

# default owner
*                               @DataDog/apm-go

# tracing
/contrib                        @DataDog/tracing-go
/ddtrace                        @DataDog/tracing-go

# profiling
/profiler                       @DataDog/profiling-go
/internal/traceprof             @DataDog/profiling-go

# appsec
/appsec                         @DataDog/asm-go
/internal/appsec                @DataDog/asm-go
/contrib/**/*appsec*.go         @DataDog/asm-go
/.github/workflows/appsec.yml   @DataDog/asm-go

# datastreams
/datastreams                    @Datadog/data-streams-monitoring
/internal/datastreams           @Datadog/data-streams-monitoring

# telemetry
/internal/telemetry             @DataDog/apm-go

# linter rules
.golangci.yml                   @DataDog/tracing-go @DataDog/profiling-go @DataDog/asm-go

# Gitlab configuration
.gitlab-ci.yml                  @DataDog/apm-go @DataDog/apm-core-reliability-and-performance
/.gitlab-ci                     @DataDog/apm-go @DataDog/apm-core-reliability-and-performance

tracer: support dot notation for tags with array values (#2253)
  ddtrace/tracer/span.go
  ddtrace/tracer/span_test.go
Owners: @DataDog/tracing-go

v2/contrib/aws/aws-sdk-go/aws: fix bad merge
  v2/contrib/aws/aws-sdk-go/aws/example_test.go
Owners: @DataDog/apm-go

.github/workflows: cherrypick from v2-dev & improve CI for appsec
  .github/workflows/apps/appsec-test-contrib-submodules.sh
  .github/workflows/apps/test-contrib-submodules.sh
  .github/workflows/appsec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/unit-integration-tests.yml
Owners: @DataDog/apm-go, @DataDog/asm-go

tracer: add support span.StartChild
  ddtrace/ddtrace.go
  ddtrace/example_test.go
  ddtrace/internal/globaltracer.go
  ddtrace/mocktracer/mockspan.go
  ddtrace/tracer/option.go
  ddtrace/tracer/span.go
  ddtrace/tracer/span_test.go
  internal/appsec/_testlib/mockspan.go
Owners: @DataDog/tracing-go, @DataDog/asm-go

.github/workflows: fix appsec-test-contrib-submodules.sh
  .github/workflows/apps/appsec-test-contrib-submodules.sh
  .github/workflows/appsec.yml
Owners: @DataDog/apm-go, @DataDog/asm-go

.github/workflows/apps: add execution permission
  .github/workflows/apps/appsec-test-contrib-submodules.sh
Owners: @DataDog/apm-go

.github/workflows/apps: add missing contrib variable
  .github/workflows/apps/appsec-test-contrib-submodules.sh
Owners: @DataDog/apm-go

Update ddtrace/tracer/option.go
  ddtrace/tracer/option.go
Owners: @DataDog/tracing-go

tracer: add support for span.StartChild (#2397)
  ddtrace/ddtrace.go
  ddtrace/example_test.go
  ddtrace/internal/globaltracer.go
  ddtrace/mocktracer/mockspan.go
  ddtrace/tracer/option.go
  ddtrace/tracer/span.go
  ddtrace/tracer/span_test.go
  internal/appsec/_testlib/mockspan.go
Owners: @DataDog/tracing-go, @DataDog/asm-go

added parameterization for redirects due to trailing slash
  contrib/dimfeld/httptreemux.v5/httptreemux.go
Owners: @DataDog/tracing-go

removed empty space, as suggested.
  contrib/dimfeld/httptreemux.v5/httptreemux_test.go
Owners: @DataDog/tracing-go

updated the tests for httptreemux to improve readability
  contrib/dimfeld/httptreemux.v5/httptreemux_test.go
Owners: @DataDog/tracing-go

added tests for routes that have trailing slash
  contrib/dimfeld/httptreemux.v5/httptreemux_test.go
Owners: @DataDog/tracing-go

removed redundant assertion
  contrib/dimfeld/httptreemux.v5/httptreemux_test.go
Owners: @DataDog/tracing-go

fixed golangci lint + added AddLinks in mockspans
  ddtrace/internal/globaltracer.go
  ddtrace/mocktracer/mockspan.go
  ddtrace/opentelemetry/tracer.go
  ddtrace/tracer/span_links_test.go
  internal/appsec/_testlib/mockspan.go
Owners: @DataDog/tracing-go, @DataDog/asm-go

.github/workflows/apps: add support to test ARM64 appsec tests
  .github/workflows/apps/appsec-test-contrib-submodules.arm64.sh
  .github/workflows/appsec.yml
Owners: @DataDog/apm-go, @DataDog/asm-go

.github/workflows/apps: use correct substitution for ARM64 tests
  .github/workflows/apps/appsec-test-contrib-submodules.arm64.sh
Owners: @DataDog/apm-go

.github/workflows/apps: add defensive conditional in test-contrib-submodules.sh
  .github/workflows/apps/test-contrib-submodules.sh
Owners: @DataDog/apm-go

.github/workflows: allow to run contrib submodules tests always
  .github/workflows/unit-integration-tests.yml
Owners: @DataDog/apm-go

.github/workflows/apps: dump environment variables in appsec tests
  .github/workflows/apps/appsec-test-contrib-submodules.arm64.sh
  .github/workflows/apps/appsec-test-contrib-submodules.sh
Owners: @DataDog/apm-go

.github/workflows: move scopes into appsec scripts
  .github/workflows/apps/appsec-test-contrib-submodules.arm64.sh
  .github/workflows/apps/appsec-test-contrib-submodules.sh
  .github/workflows/appsec.yml
Owners: @DataDog/apm-go, @DataDog/asm-go

.github/workflows: remove SCOPE environment variable
  .github/workflows/appsec.yml
Owners: @DataDog/asm-go

tracer: document runtime metrics mappings
  ddtrace/tracer/metrics.go
Owners: @DataDog/tracing-go

.github/workflows: adapt golang-linux-container tests for alpine
  .github/workflows/appsec.yml
Owners: @DataDog/asm-go

.github/workflows: setting the right envs
  .github/workflows/appsec.yml
Owners: @DataDog/asm-go

.github/workflows: testing env with bash for alpine
  .github/workflows/appsec.yml
Owners: @DataDog/asm-go

contrib/dimfeld/httptreemux.v5: parameterize redirects due to trailing slash (#2332)
  contrib/dimfeld/httptreemux.v5/httptreemux.go
  contrib/dimfeld/httptreemux.v5/httptreemux_test.go
Owners: @DataDog/tracing-go

all: bump version tag
  internal/version/version.go
Owners: @DataDog/apm-go

all: bump version tag (#2399)
  internal/version/version.go
Owners: @DataDog/apm-go

use different method to detect incompatible dbs
  contrib/database/sql/option.go
  contrib/database/sql/propagation_test.go
  contrib/database/sql/sql.go
  contrib/database/sql/sql_test.go
Owners: @DataDog/tracing-go

profiler: randomize when execution traces are collected
  profiler/profiler.go
  profiler/profiler_test.go
Owners: @DataDog/profiling-go

add the logic to send the header Datadog-Entity-ID when Datadog-Container-ID is also sent without building the correct entityID yet
  ddtrace/tracer/transport.go
  internal/container.go
  internal/datastreams/transport.go
  internal/telemetry/client.go
  profiler/profiler.go
  profiler/upload.go
  profiler/upload_test.go
Owners: @DataDog/tracing-go, @DataDog/apm-go, @Datadog/data-streams-monitoring, @DataDog/profiling-go

get the cgroup inode
  internal/container.go
  internal/container_test.go
Owners: @DataDog/apm-go

Apply suggestion from code review
  internal/container.go
Owners: @DataDog/apm-go

added resource, tags and target_span fields to sampling rules
  ddtrace/tracer/log_test.go
  ddtrace/tracer/rules_sampler.go
  ddtrace/tracer/sampler_test.go
Owners: @DataDog/tracing-go

Update appsec.go
  contrib/labstack/echo.v4/appsec.go
Owners: @DataDog/asm-go

Update appsec.go
  appsec/appsec.go
Owners: @DataDog/asm-go

Update grpc_test.go
  internal/appsec/emitter/grpcsec/grpc_test.go
Owners: @DataDog/asm-go

Update shared.go
  internal/appsec/listener/sharedsec/shared.go
Owners: @DataDog/asm-go

updated span-sampling-rules-regex test
  ddtrace/tracer/sampler_test.go
Owners: @DataDog/tracing-go
