Repository DataDog/dd-trace-go, changes with the owners that CODEOWNERS names for each.
All owners: @DataDog/apm-go, @DataDog/tracing-go, @DataDog/profiling-go, @DataDog/asm-go, @Datadog/data-streams-monitoring, @DataDog/apm-core-reliability-and-performance

CODEOWNERS:

# Note: Later matches take precedence

# default owner
*                               @DataDog/apm-go

# tracing
/contrib                        @DataDog/tracing-go
/ddtrace                        @DataDog/tracing-go

# profiling
/profiler                       @DataDog/profiling-go
/internal/traceprof             @DataDog/profiling-go

# appsec
/appsec                         @DataDog/asm-go
/internal/appsec                @DataDog/asm-go
/contrib/**/*appsec*.go         @DataDog/asm-go
/.github/workflows/appsec.yml   @DataDog/asm-go

# datastreams
/datastreams                    @Datadog/data-streams-monitoring
/internal/datastreams           @Datadog/data-streams-monitoring

# telemetry
/internal/telemetry             @DataDog/apm-go

# linter rules
.golangci.yml                   @DataDog/tracing-go @DataDog/profiling-go @DataDog/asm-go

# Gitlab configuration
.gitlab-ci.yml                  @DataDog/apm-go @DataDog/apm-core-reliability-and-performance
/.gitlab-ci                     @DataDog/apm-go @DataDog/apm-core-reliability-and-performance

remove unnecessary changes in goji.go
  contrib/zenazn/goji.v1/web/goji.go
Owners: @DataDog/tracing-go

readme: Add example for running just one integration container in docker compose
  README.md
Owners: @DataDog/apm-go

internal/apps: go mod tidy
  internal/apps/go.mod
Owners: @DataDog/apm-go

contrib: fix span start option races (#2418)
  contrib/database/sql/conn.go
  contrib/database/sql/sql.go
  contrib/gin-gonic/gin/gintrace.go
  contrib/go-chi/chi.v5/chi.go
  contrib/go-chi/chi.v5/chi_test.go
  contrib/go-chi/chi/chi.go
  contrib/google.golang.org/grpc.v12/grpc.go
  contrib/google.golang.org/grpc/stats_client.go
  contrib/gorilla/mux/mux.go
  contrib/internal/options/options.go
  contrib/internal/options/options_test.go
  contrib/julienschmidt/httprouter/httprouter.go
  contrib/k8s.io/client-go/kubernetes/kubernetes.go
  contrib/labstack/echo.v4/echotrace.go
  contrib/labstack/echo/echotrace.go
  contrib/net/http/trace.go
  contrib/urfave/negroni/negroni.go
Owners: @DataDog/tracing-go

v2/contrib: add left-behind merge changes
  v2/contrib/gin-gonic/gin/gintrace.go
  v2/contrib/go-chi/chi.v5/chi.go
  v2/contrib/go-chi/chi/chi.go
  v2/contrib/gorilla/mux/mux.go
  v2/contrib/julienschmidt/httprouter/httprouter.go
  v2/contrib/labstack/echo.v4/echotrace.go
  v2/contrib/net/http/trace.go
  v2/contrib/urfave/negroni/negroni.go
Owners: @DataDog/apm-go

internal: version: v1.60.0-dev -> v1.59.0-rc.2
  internal/version/version.go
Owners: @DataDog/apm-go

NoopTagSetter
  internal/appsec/emitter/graphqlsec/execution.go
  internal/appsec/emitter/graphqlsec/request.go
  internal/appsec/trace/trace.go
Owners: @DataDog/asm-go

use common naming patterns
  contrib/99designs/gqlgen/tracer.go
  contrib/graph-gophers/graphql-go/graphql.go
  contrib/graphql-go/graphql/graphql.go
  internal/appsec/emitter/graphqlsec/execution.go
  internal/appsec/emitter/graphqlsec/field.go
  internal/appsec/emitter/graphqlsec/request.go
  internal/appsec/emitter/graphqlsec/resolve.go
  internal/appsec/listener/graphqlsec/graphql.go
Owners: @DataDog/tracing-go, @DataDog/asm-go

make parenting relationship a construction concern
  contrib/99designs/gqlgen/tracer.go
  contrib/graph-gophers/graphql-go/graphql.go
  contrib/graphql-go/graphql/graphql.go
  internal/appsec/emitter/graphqlsec/context.go
  internal/appsec/emitter/graphqlsec/execution.go
  internal/appsec/emitter/graphqlsec/request.go
  internal/appsec/emitter/graphqlsec/resolve.go
Owners: @DataDog/tracing-go, @DataDog/asm-go

re-duplicate the error structure
  contrib/99designs/gqlgen/tracer.go
  contrib/graph-gophers/graphql-go/graphql.go
  contrib/graphql-go/graphql/graphql.go
  internal/appsec/emitter/graphqlsec/execution.go
  internal/appsec/emitter/graphqlsec/request.go
  internal/appsec/emitter/graphqlsec/resolve.go
  internal/appsec/emitter/graphqlsec/result.go
Owners: @DataDog/tracing-go, @DataDog/asm-go

stop producing all_resolvers
  contrib/99designs/gqlgen/appsec_test.go
  contrib/graph-gophers/graphql-go/appsec_test.go
  contrib/graphql-go/graphql/appsec_test.go
  contrib/graphql-go/graphql/bench_test.go
  internal/appsec/listener/graphqlsec/graphql.go
Owners: @DataDog/asm-go, @DataDog/tracing-go

hoist wafDaigs up one closure context
  internal/appsec/listener/graphqlsec/graphql.go
Owners: @DataDog/asm-go

added a small check to not override the previous decision
  ddtrace/tracer/rules_sampler.go
  ddtrace/tracer/sampler_test.go
Owners: @DataDog/tracing-go

remove the comment
  ddtrace/tracer/sampler_test.go
Owners: @DataDog/tracing-go

wip test
  ddtrace/tracer/rules_sampler.go
  ddtrace/tracer/span.go
  ddtrace/tracer/tracer.go
Owners: @DataDog/tracing-go

CI: Only mark PRs as stale (#2423)
  .github/workflows/stale.yml
Owners: @DataDog/apm-go

readme: Add example for running just one integration container (#2429)
  README.md
Owners: @DataDog/apm-go

readme.md: update the appsec intro
  README.md
Owners: @DataDog/apm-go
