Repository DataDog/dd-trace-go, changes with the owners that CODEOWNERS names for each.
All owners: @DataDog/apm-go, @DataDog/tracing-go, @DataDog/profiling-go, @DataDog/asm-go, @Datadog/data-streams-monitoring, @DataDog/apm-core-reliability-and-performance

appsec: log: use fmt.Errorf
  internal/appsec/appsec.go
Owners: @DataDog/asm-go

Add serializable tags to tag holder
  internal/appsec/listener/httpsec/http.go
  internal/appsec/trace/tagsholder.go
Owners: @DataDog/asm-go

internal/appsec: set logger backend
  internal/appsec/appsec.go
Owners: @DataDog/asm-go

appsec/internal: test tags values for API Sec
  internal/appsec/waf_test.go
  internal/appsec/waf_unit_test.go
Owners: @DataDog/asm-go

appsec: export enablement env var
  internal/appsec/appsec.go
  internal/appsec/appsec_test.go
  internal/appsec/config.go
  internal/appsec/remoteconfig_test.go
  internal/appsec/waf_test.go
Owners: @DataDog/asm-go

appsec: clarify schema generation with a comment
  internal/appsec/listener/httpsec/http.go
Owners: @DataDog/asm-go

tagholder: add serializableTag wrapper
  internal/appsec/trace/tagsholder.go
Owners: @DataDog/asm-go

internal: replace gopkg.in import URLs from merge
  go.sum
  internal/apps/apps.go
  internal/apps/go.mod
  internal/apps/go.sum
  internal/apps/memory-leak/main.go
  internal/apps/unit-of-work/main.go
  internal/appsec/emitter/doc.go
  internal/appsec/emitter/grpcsec/grpc.go
  internal/appsec/emitter/httpsec/http.go
  internal/appsec/emitter/httpsec/tags.go
  internal/appsec/emitter/httpsec/tags_test.go
  internal/appsec/listener/grpcsec/grpc.go
  internal/appsec/listener/httpsec/http.go
  internal/appsec/listener/listener.go
  internal/appsec/listener/sharedsec/shared.go
  internal/appsec/listener/sharedsec/shared_test.go
  internal/appsec/remoteconfig_test.go
  internal/appsec/trace/grpctrace/grpc_test.go
  internal/appsec/trace/trace.go
  internal/appsec/waf.go
  v2/contrib/go-chi/chi/appsec.go
  v2/contrib/google.golang.org/grpc/appsec.go
  v2/contrib/labstack/echo.v4/appsec.go
Owners: @DataDog/apm-go, @DataDog/asm-go

remove all changes that aren't strictly necessary to fix the race
  contrib/go-chi/chi.v5/chi.go
  contrib/go-chi/chi/chi.go
  contrib/labstack/echo.v4/echotrace.go
  contrib/labstack/echo/echotrace.go
Owners: @DataDog/tracing-go

remove unecessary changes in httptreemux.go
  contrib/dimfeld/httptreemux.v5/httptreemux.go
Owners: @DataDog/tracing-go

internal: use replace directives in go.mod
  internal/apps/go.mod
  internal/apps/go.sum
  internal/contrib/validationtest/go.mod
  internal/contrib/validationtest/go.sum
  internal/traceprof/traceproftest/go.mod
  internal/traceprof/traceproftest/go.sum
Owners: @DataDog/apm-go, @DataDog/profiling-go

internal/appsec: fix import URL
  internal/appsec/waf_test.go
Owners: @DataDog/asm-go

internal/appsec/trace/httptrace: fix import URLs
  internal/appsec/trace/httptrace/http.go
Owners: @DataDog/asm-go

fix TraceAndServe in contrib/net/http
  contrib/net/http/trace.go
Owners: @DataDog/tracing-go

allocate enough space in the destination slice to make the fully copy
  contrib/database/sql/sql.go
  contrib/k8s.io/client-go/kubernetes/kubernetes.go
Owners: @DataDog/tracing-go

internal/apps: remove pr_default options
  .github/workflows/test-apps.cue
  .github/workflows/test-apps.yml
Owners: @DataDog/apm-go

go.mod: go mod tidy
  go.mod
  go.sum
Owners: @DataDog/apm-go

internal/apps: go mod tidy
  internal/apps/go.mod
Owners: @DataDog/apm-go

internal/appsec: gofmt -s
  internal/appsec/appsec.go
Owners: @DataDog/asm-go

internal/apps: tagging for manual/scheduled runs
  .github/workflows/test-apps-schedule.yml
  .github/workflows/test-apps.cue
  .github/workflows/test-apps.yml
Owners: @DataDog/apm-go

appsec: remove unused AddAPISecurityTags func
  internal/appsec/listener/sharedsec/shared.go
  internal/appsec/waf_unit_test.go
Owners: @DataDog/asm-go

appsec: tagsholder: simplify serialiazable tag check
  internal/appsec/trace/tagsholder.go
Owners: @DataDog/asm-go

Apply suggestions from code review
  internal/appsec/trace/tagsholder.go
Owners: @DataDog/asm-go

internal/apps: pass scenario inputs as JSON
  .github/workflows/test-apps.cue
  .github/workflows/test-apps.yml
Owners: @DataDog/apm-go

v2/contrib/gorilla/mux: update dd-trace-go/v2*
  v2/contrib/gorilla/mux/go.mod
  v2/contrib/gorilla/mux/go.sum
Owners: @DataDog/apm-go

have bench_test run in the gitlab benchmarking
  .gitlab-ci.yml
  contrib/graphql-go/graphql/bench_test.go
Owners: @DataDog/apm-go, @DataDog/apm-core-reliability-and-performance, @DataDog/tracing-go

internal/apps: better tagging (#2425)
  .github/workflows/test-apps-schedule.yml
  .github/workflows/test-apps.cue
  .github/workflows/test-apps.yml
Owners: @DataDog/apm-go

.github/workflows: revert v2 URL in v1 test
  .github/workflows/parametric-tests.yml
Owners: @DataDog/apm-go

.github/workflows: add v2 branch environment variable in appsec.yml
  .github/workflows/appsec.yml
Owners: @DataDog/asm-go

.github/workflows: add refs to v2 system-tests in parametric-tests.yml
  .github/workflows/parametric-tests.yml
Owners: @DataDog/apm-go

contrib/database/sql: prevent DBM propagation full mode with incompatible dbs (#2328)
  contrib/database/sql/option.go
  contrib/database/sql/propagation_test.go
  contrib/database/sql/sql.go
  contrib/database/sql/sql_test.go
Owners: @DataDog/tracing-go

appsec: HTTP schema extraction for API Security (#2381)
  .github/workflows/system-tests.yml
  go.mod
  go.sum
  internal/apps/go.mod
  internal/apps/go.sum
  internal/appsec/appsec.go
  internal/appsec/appsec_test.go
  internal/appsec/config.go
  internal/appsec/config_test.go
  internal/appsec/listener/httpsec/http.go
  internal/appsec/remoteconfig.go
  internal/appsec/remoteconfig_test.go
  internal/appsec/rules_manager.go
  internal/appsec/trace/tagsholder.go
  internal/appsec/waf.go
  internal/appsec/waf_test.go
  internal/appsec/waf_unit_test.go
Owners: @DataDog/apm-go, @DataDog/asm-go

.github/workflows: add variable working directory support to appsec-test-contrib-submodules.sh
  .github/workflows/apps/appsec-test-contrib-submodules.sh
Owners: @DataDog/apm-go

added tag sampling in span.finish to make sure s.setTag tags are accounted for
  ddtrace/tracer/rules_sampler.go
  ddtrace/tracer/sampler_test.go
  ddtrace/tracer/span.go
  ddtrace/tracer/tracer.go
Owners: @DataDog/tracing-go

removed existing priority check
  ddtrace/tracer/sampler_test.go
  ddtrace/tracer/span.go
Owners: @DataDog/tracing-go

v2: add left-behind changes after main merge
  go.mod
  go.sum
  internal/apps/go.mod
  internal/apps/go.sum
  internal/appsec/listener/grpcsec/grpc.go
  internal/appsec/listener/httpsec/http.go
  internal/appsec/listener/sharedsec/shared.go
  internal/appsec/listener/sharedsec/shared_test.go
  internal/appsec/waf.go
  internal/appsec/waf_test.go
  internal/contrib/validationtest/go.mod
  internal/contrib/validationtest/go.sum
  internal/traceprof/traceproftest/go.mod
  internal/traceprof/traceproftest/go.sum
Owners: @DataDog/apm-go, @DataDog/asm-go, @DataDog/profiling-go

internal/appsec/trace/httptrace: fix missing netip import
  internal/appsec/trace/httptrace/http.go
Owners: @DataDog/asm-go

internal/appsec: fix wrongly merged test
  internal/appsec/waf_test.go
Owners: @DataDog/asm-go

internal/appsec/listener/httpsec: add missing math/rand import
  internal/appsec/listener/httpsec/http.go
Owners: @DataDog/asm-go

profiler: deduplicate test profiler setup logic
  profiler/profiler_test.go
  profiler/upload_test.go
Owners: @DataDog/profiling-go

CODEOWNERS:

# Note: Later matches take precedence

# default owner
*                               @DataDog/apm-go

# tracing
/contrib                        @DataDog/tracing-go
/ddtrace                        @DataDog/tracing-go

# profiling
/profiler                       @DataDog/profiling-go
/internal/traceprof             @DataDog/profiling-go

# appsec
/appsec                         @DataDog/asm-go
/internal/appsec                @DataDog/asm-go
/contrib/**/*appsec*.go         @DataDog/asm-go
/.github/workflows/appsec.yml   @DataDog/asm-go

# datastreams
/datastreams                    @Datadog/data-streams-monitoring
/internal/datastreams           @Datadog/data-streams-monitoring

# telemetry
/internal/telemetry             @DataDog/apm-go

# linter rules
.golangci.yml                   @DataDog/tracing-go @DataDog/profiling-go @DataDog/asm-go

# Gitlab configuration
.gitlab-ci.yml                  @DataDog/apm-go @DataDog/apm-core-reliability-and-performance
/.gitlab-ci                     @DataDog/apm-go @DataDog/apm-core-reliability-and-performance
