Repository DataDog/dd-trace-go, changes with the owners that CODEOWNERS names for each.
All owners: @DataDog/dd-trace-go-guild, @DataDog/apm-go, @Datadog/apm-idm-go, @DataDog/profiling-go, @DataDog/asm-go, @Datadog/data-streams-monitoring, @DataDog/ci-app-libraries, @DataDog/apm-core-reliability-and-performance, @DataDog/apm-orchestrion

internal/telemetry: fix telemetry metric submit datarace double pool insertion
  internal/telemetry/metrics.go
Owners: @DataDog/dd-trace-go-guild, @DataDog/apm-go

(fix) internal/civisibility: fix data race due the usage of append over a read only tags
  internal/civisibility/integrations/manual_api_ddtest.go
  internal/civisibility/integrations/manual_api_ddtestmodule.go
  internal/civisibility/integrations/manual_api_ddtestsuite.go
Owners: @DataDog/ci-app-libraries, @DataDog/apm-go

(fix) internal/civisibility: fix
  internal/civisibility/integrations/manual_api_ddtest.go
  internal/civisibility/integrations/manual_api_ddtestsuite.go
Owners: @DataDog/ci-app-libraries, @DataDog/apm-go

(fix) internal/civisibility: fix data race due the usage of append over a read only tags
  internal/civisibility/integrations/manual_api_ddtest.go
  internal/civisibility/integrations/manual_api_ddtestmodule.go
  internal/civisibility/integrations/manual_api_ddtestsuite.go
Owners: @DataDog/ci-app-libraries, @DataDog/apm-go

(fix) internal/civisibility: fix
  internal/civisibility/integrations/manual_api_ddtest.go
  internal/civisibility/integrations/manual_api_ddtestsuite.go
Owners: @DataDog/ci-app-libraries, @DataDog/apm-go

internal/telemetry: fix telemetry metric submit datarace double pool insertion
  internal/telemetry/client.go
  internal/telemetry/metrics.go
Owners: @DataDog/dd-trace-go-guild, @DataDog/apm-go

remove one more pool allocation
  internal/telemetry/client.go
  internal/telemetry/metrics.go
Owners: @DataDog/dd-trace-go-guild, @DataDog/apm-go

(fix) internal/civisibility: fix data race due the usage of append over a read only tags (#3431)
  internal/civisibility/integrations/manual_api_ddtest.go
  internal/civisibility/integrations/manual_api_ddtestmodule.go
  internal/civisibility/integrations/manual_api_ddtestsuite.go
Owners: @DataDog/ci-app-libraries, @DataDog/apm-go

Fix API Security test
  internal/appsec/waf_unit_test.go
Owners: @DataDog/asm-go, @DataDog/apm-go

[v1] internal/telemetry: fix telemetry metric submit datarace double pool insertion (#3433)
  internal/telemetry/client.go
  internal/telemetry/metrics.go
Owners: @DataDog/dd-trace-go-guild, @DataDog/apm-go

(fix) internal/civisibility: fix data race due the usage of append over a read only tags (v1) (#3432)
  internal/appsec/waf_unit_test.go
  internal/civisibility/integrations/manual_api_ddtest.go
  internal/civisibility/integrations/manual_api_ddtestmodule.go
  internal/civisibility/integrations/manual_api_ddtestsuite.go
Owners: @DataDog/asm-go, @DataDog/apm-go, @DataDog/ci-app-libraries

internal/telemetry: fix telemetry metric submit datarace double pool insertion (#3430)
  internal/telemetry/client.go
  internal/telemetry/metrics.go
Owners: @DataDog/dd-trace-go-guild, @DataDog/apm-go

CODEOWNERS:

# Note: Later matches take precedence

# default owner
*                               @DataDog/dd-trace-go-guild @DataDog/apm-go

# no owner: changes to these files will not automatically ping any particular
# team and can be reviewed by anybody with the appropriate permissions. This is
# meant to avoid pinging all of @DataDog/dd-trace-go-guild for every PR that
# changes one of these files.
**/go.mod
**/go.sum
go.work
go.work.sum

# tracing
/contrib                        @DataDog/apm-go @Datadog/apm-idm-go
/ddtrace                        @DataDog/apm-go

# profiling
/profiler                       @DataDog/profiling-go @DataDog/apm-go
/internal/traceprof             @DataDog/profiling-go @DataDog/apm-go

# appsec
/appsec                         @DataDog/asm-go @DataDog/apm-go
/internal/appsec                @DataDog/asm-go @DataDog/apm-go
/contrib/**/*appsec*.go         @DataDog/asm-go @DataDog/apm-go
/.github/workflows/appsec.yml   @DataDog/asm-go @DataDog/apm-go
/contrib/envoyproxy             @DataDog/asm-go @DataDog/apm-go
/contrib/cmd/traffic-mirror     @DataDog/asm-go @DataDog/apm-go

# datastreams
/datastreams                    @Datadog/data-streams-monitoring @DataDog/apm-go
/internal/datastreams           @Datadog/data-streams-monitoring @DataDog/apm-go

# civisibility
/civisibility                   @DataDog/ci-app-libraries @DataDog/apm-go
/internal/civisibility          @DataDog/ci-app-libraries @DataDog/apm-go

# Gitlab configuration
.gitlab-ci.yml                  @DataDog/dd-trace-go-guild @DataDog/apm-core-reliability-and-performance @DataDog/apm-go
/.gitlab-ci                     @DataDog/dd-trace-go-guild @DataDog/apm-core-reliability-and-performance @DataDog/apm-go

# Orchestrion
/internal/orchestrion           @DataDog/apm-orchestrion @DataDog/apm-go
/**/orchestrion.yml             @DataDog/apm-orchestrion @DataDog/apm-go
