Repository DataDog/dd-trace-go, changes with the owners that CODEOWNERS names for each.
All owners: @DataDog/apm-go, @DataDog/tracing-go, @DataDog/profiling-go, @DataDog/asm-go, @Datadog/data-streams-monitoring, @DataDog/apm-core-reliability-and-performance

CODEOWNERS:

# Note: Later matches take precedence

# default owner
*                               @DataDog/apm-go

# tracing
/contrib                        @DataDog/tracing-go
/ddtrace                        @DataDog/tracing-go

# profiling
/profiler                       @DataDog/profiling-go
/internal/traceprof             @DataDog/profiling-go

# appsec
/appsec                         @DataDog/asm-go
/internal/appsec                @DataDog/asm-go
/contrib/**/*appsec*.go         @DataDog/asm-go
/.github/workflows/appsec.yml   @DataDog/asm-go

# datastreams
/datastreams                    @Datadog/data-streams-monitoring
/internal/datastreams           @Datadog/data-streams-monitoring

# telemetry
/internal/telemetry             @DataDog/apm-go

# linter rules
.golangci.yml                   @DataDog/tracing-go @DataDog/profiling-go @DataDog/asm-go

# Gitlab configuration
.gitlab-ci.yml                  @DataDog/apm-go @DataDog/apm-core-reliability-and-performance
/.gitlab-ci                     @DataDog/apm-go @DataDog/apm-core-reliability-and-performance

added DD_TRACE_SAMPLING_RULES_FILE option
  ddtrace/tracer/log_test.go
  ddtrace/tracer/rules_sampler.go
Owners: @DataDog/tracing-go

fixed log regex
  ddtrace/tracer/log_test.go
Owners: @DataDog/tracing-go

.github/workflows: unify appsec-test-contrib-submodules* in a single script
  .github/workflows/apps/appsec-test-contrib-submodules.arm64.sh
  .github/workflows/apps/appsec-test-contrib-submodules.sh
  .github/workflows/appsec.yml
Owners: @DataDog/apm-go, @DataDog/asm-go

addressed the comments
  ddtrace/tracer/log_test.go
  ddtrace/tracer/rules_sampler.go
  ddtrace/tracer/sampler_test.go
Owners: @DataDog/tracing-go

renamed target span
  ddtrace/tracer/rules_sampler.go
Owners: @DataDog/tracing-go

fixed the go doc
  ddtrace/tracer/rules_sampler.go
Owners: @DataDog/tracing-go

fixed a typo
  ddtrace/tracer/log_test.go
Owners: @DataDog/tracing-go

contrib/valyala/fasthttp.v1: go fmt
  contrib/valyala/fasthttp.v1/fasthttp_test.go
Owners: @DataDog/tracing-go

moved to reusable inner func
  ddtrace/tracer/rules_sampler.go
Owners: @DataDog/tracing-go

added 'any' test case in unmarshalling
  ddtrace/tracer/sampler_test.go
Owners: @DataDog/tracing-go

ddtrace/tracer: extending sampling rule struct with tags, resource and target_span (#2403)
  ddtrace/tracer/log_test.go
  ddtrace/tracer/rules_sampler.go
  ddtrace/tracer/sampler_test.go
Owners: @DataDog/tracing-go

ddtrace/tracer: added DD_TRACE_SAMPLING_RULES_FILE env var (#2404)
  ddtrace/tracer/rules_sampler.go
Owners: @DataDog/tracing-go

clarify the length of the trace tag that will be skipped due to length
  ddtrace/tracer/textmap.go
Owners: @DataDog/tracing-go

run go fmt
  contrib/labstack/echo.v4/option.go
Owners: @DataDog/tracing-go

fix logic and refactor
  contrib/labstack/echo.v4/echotrace.go
  contrib/labstack/echo.v4/echotrace_test.go
  contrib/labstack/echo.v4/option.go
Owners: @DataDog/tracing-go

tracer: improve debug message for propagating tag length limit reached (#2405)
  ddtrace/tracer/textmap.go
Owners: @DataDog/tracing-go

Update contrib/valyala/fasthttp.v1/fasthttp_test.go
  contrib/valyala/fasthttp.v1/fasthttp_test.go
Owners: @DataDog/tracing-go

Simplify wraphandler on test router
  contrib/valyala/fasthttp.v1/fasthttp_test.go
Owners: @DataDog/tracing-go

ddtrace/tracer: add JSON logging workaround for tracer logs in WithLogger docs
  ddtrace/tracer/option.go
Owners: @DataDog/tracing-go

updated tests for sampling
  ddtrace/tracer/rules_sampler.go
  ddtrace/tracer/sampler_test.go
Owners: @DataDog/tracing-go

added a separate test for target_span
  ddtrace/tracer/sampler_test.go
Owners: @DataDog/tracing-go

updated MarshalJSON of the sampling rules
  ddtrace/tracer/rules_sampler.go
  ddtrace/tracer/sampler_test.go
Owners: @DataDog/tracing-go

updated log regex according to the sampling rule marshalling
  ddtrace/tracer/log_test.go
Owners: @DataDog/tracing-go

apply suggestions from code review
  internal/container.go
Owners: @DataDog/apm-go

ddtrace/tracer: add JSON logging workaround for tracer logs in WithLogger docs (#2406)
  ddtrace/tracer/option.go
Owners: @DataDog/tracing-go

add benchmark against baseline
  contrib/graphql-go/graphql/bench_test.go
Owners: @DataDog/tracing-go

removed exactService and exactName
  ddtrace/tracer/rules_sampler.go
  ddtrace/tracer/sampler_test.go
Owners: @DataDog/tracing-go

assert empty entityID
  profiler/upload_test.go
Owners: @DataDog/profiling-go

right size the supported address maps
  internal/appsec/listener/graphqlsec/graphql.go
  internal/appsec/listener/grpcsec/grpc.go
  internal/appsec/listener/httpsec/http.go
  internal/appsec/waf.go
Owners: @DataDog/asm-go

remove WitOverrideSuffix from naming schema (it's not used)
  internal/namingschema/option.go
Owners: @DataDog/apm-go

centralize tag setting into the GraphQL listener
  contrib/99designs/gqlgen/tracer.go
  contrib/google.golang.org/grpc/appsec.go
  contrib/graph-gophers/graphql-go/graphql.go
  contrib/graphql-go/graphql/graphql.go
  internal/appsec/emitter/graphqlsec/field.go
  internal/appsec/emitter/graphqlsec/query.go
  internal/appsec/emitter/httpsec/http.go
  internal/appsec/listener/graphqlsec/graphql.go
  internal/appsec/listener/grpcsec/grpc.go
  internal/appsec/listener/httpsec/http.go
  internal/appsec/listener/sharedsec/shared.go
  internal/appsec/trace/tagsholder.go
Owners: @DataDog/tracing-go, @DataDog/asm-go

.github/workflows: cherrypick changes from v2-dev for v2 nightly CI (#2382)
  .github/workflows/apps/appsec-test-contrib-submodules.sh
  .github/workflows/apps/test-contrib-submodules.sh
  .github/workflows/appsec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/multios-unit-tests.yml
  .github/workflows/parametric-tests.yml
  .github/workflows/system-tests.yml
  .github/workflows/unit-integration-tests.yml
Owners: @DataDog/apm-go, @DataDog/asm-go

contrib/jackc/pgx.v5: add "connect" resource name tag to connect spans
  contrib/jackc/pgx.v5/pgx_tracer.go
Owners: @DataDog/tracing-go

contrib/jackc/pgx.v5: fix pgxpool tests
  contrib/jackc/pgx.v5/pgxpool_test.go
Owners: @DataDog/tracing-go

make sure _dd.appsec.enabled is correctly set on the root spans
  contrib/99designs/gqlgen/appsec_test.go
  contrib/99designs/gqlgen/tracer.go
  contrib/graph-gophers/graphql-go/appsec_test.go
  contrib/graph-gophers/graphql-go/graphql.go
  contrib/graphql-go/graphql/appsec_test.go
  contrib/graphql-go/graphql/graphql.go
  contrib/graphql-go/graphql/graphql_test.go
  internal/appsec/emitter/graphqlsec/README.md
  internal/appsec/emitter/graphqlsec/context.go
  internal/appsec/emitter/graphqlsec/execution.go
  internal/appsec/emitter/graphqlsec/field.go
  internal/appsec/emitter/graphqlsec/query.go
  internal/appsec/emitter/graphqlsec/request.go
  internal/appsec/listener/graphqlsec/graphql.go
  internal/appsec/trace/trace.go
Owners: @DataDog/asm-go, @DataDog/tracing-go

contrib/jackc/pgx.v5: fix PgxTracer tests
  contrib/jackc/pgx.v5/pgx_tracer_test.go
Owners: @DataDog/tracing-go

somewhat improve handling of allResolvers
  internal/appsec/listener/graphqlsec/graphql.go
Owners: @DataDog/asm-go

fix the little oopsie
  internal/appsec/listener/graphqlsec/graphql.go
Owners: @DataDog/asm-go

add support for cgroupv1
  internal/container.go
  internal/container_test.go
Owners: @DataDog/apm-go

greatly simplify the logic by not parsing /proc/mounts, only support /sys/fs/cgroup
  internal/container.go
  internal/container_test.go
Owners: @DataDog/apm-go
